.card {
    font-family: var(--karla);
}

.img-wrapper {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img-wrapper>img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-out;
}

.img-wrapper:hover>img {
    transform: scale(1.1);
}