.item {
    font-family: var(--karla);
    margin: 20px;
    padding: 20px;
    gap: 20px;
    background-color: #f8f8f8;
}

.item--image {
    width: 100%;
    max-width: 200px;
    justify-self: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.item--image>img {
    width: 100%;
}

.item--description {
    color: var(--gray);
    max-width: 300px;
    margin: 0 auto;
}

.item--title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.item--title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
}

.item--text {
    font-size: 0.6rem;
    font-weight: 300;
}

.item--buy {
    min-width: 45px;
    max-width: 45px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.item--buy:hover {
    background-color: rgba(0, 0, 0, 0.773);
}

.item--buy:active {
    background-color: var(--pink);
}

.item--buy>img {
    width: 40%;
}

@media only screen and (min-width: 500px) {
    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .item--image {
        margin-bottom: 0;
    }
}