.list-menu {
    position: absolute;
    width: 300px;
    min-height: 100px;
    max-height: 80vh;
    top: 80px;
    right: 20px;
    font-family: var(--karla);
    padding: 20px;
    background-color: white;
    z-index: 999;
    border: var(--radius);
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -20px;
    right: 15px;
    z-index: 999;
}

.shopping-cart-container {
    overflow: scroll;
    margin: 10px 0;
}

.list-button {
    background-color: white;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    padding: 3px;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.list-close {
    margin-left: auto;
}

.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.list-item>img {
    width: 50px;
}

.list-item--text {
    margin-right: 10px;
    margin-left: 10px;

}

.list-item--text>h1,
.list-item--quantity>input {
    color: var(--gray);
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 300;
}

.list-item--quantity {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-item--quantity>input {
    font-family: var(--karla);
    width: 18px;
    height: 18px;
    text-align: center;
    border: none;
    background-color: var(--white);
}

.list-item--price {
    margin-left: auto;
    white-space: nowrap;
}

hr {
    border: none;
    border-top: 0.5px solid var(--gray);
}