.list-menu {
    position: absolute;
    width: 300px;
    min-height: 100px;
    max-height: 80vh;
    top: 80px;
    right: 20px;
    font-family: var(--karla);
    padding: 20px;
    background-color: white;
    z-index: 999;
    border: var(--radius);
    overflow: scroll;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -20px;
    right: 15px;
    z-index: 999;
}

.shopping-cart-container {
    margin: 10px 0;
}

.list-button {
    background-color: white;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    padding: 3px;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.list-close {
    margin-left: auto;
}

.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.list-item>img {
    width: 50px;
}

.list-item--text {
    margin-right: 10px;
    margin-left: 10px;

}

.list-item--text>h1,
.list-item--quantity>input {
    color: var(--gray);
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 300;
}

.list-item--quantity {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-item--quantity>input {
    font-family: var(--karla);
    width: 18px;
    height: 18px;
    text-align: center;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.list-item--price {
    margin-left: auto;
    white-space: nowrap;
}

hr {
    border: none;
    border-top: 0.5px solid var(--gray);
}

.total-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.total-container>h1 {
    font-family: var(--karla);
    font-weight: 300;
    color: var(--gray);
    font-size: 0.8rem;
}

.fake-store,
.total-container>h2 {
    font-family: var(--karla);
    font-weight: 300;
    color: var(--pink);
    font-size: 0.2em;
    margin-right: auto;
    margin-left: 10px;
    font-style: italic;

}

.place-order {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.place-order>button {
    font-family: var(--karla);
    font-weight: 300;
    color: var(--gray);
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding: 8px 12px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    transition: transform 0.2s ease-out;
}

.place-order>button:hover {
    background-color: var(--white);
    color: var(--black);
}

.place-order>button:active {
    background-color: var(--pink);
    color: var(--black);
    transform: scale(0.95);
}

.fake-store {
    color: var(--black);
    position: absolute;
    top: 0;
    transition: all 0.5s ease-out;
    opacity: 0;
}

.show-warning {
    opacity: 1;
    transform: translateY(-20px);
}

.empty-cart {
    font-size: 1rem;
    color: var(--gray);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .list-menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        max-height: calc(100vh - 80px);
        top: 80px;
        right: 0;
        padding: 20px 40px;
    }
}