@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'PicNic';
  src: url("./fonts/PicNic-Regular.woff");
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --picnic: 'PicNic';
  --karla: 'Karla',
    sans-serif;
  --black: #121212;
  --white: #f1f1f1;
  --pink: #ff99ff;
  --border: 20px;
}

body {
  background-color: var(--white);
}